#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #00e0bc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s;
}

#scrollBtn img {
    width: 24px;
    height: 24px;
}

#scrollBtn:hover {
    background-color: #00bfa5;
}
