body {

    font-family: Arial, sans-serif;
    background-image: url('1x/image.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(13, 15, 26, 0.85);
    margin: 0;
    
}


h1 {
    font-weight: bold;
    color: #002850;
}

.login {
    background:  rgba(224, 226, 240, 0.85);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 350px;
    color: white;
}


label {
    display: block;
    color: #002850;
    margin: 10px 0 5px;
    font-weight: bold;
}

.input {
    width: 100%;
    max-width: 325px;
    height: 30px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;  
}
.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}

button {
    background-color: #54fbdc;
    color:#002850;
    padding: 10px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size: 48;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    display:block;
    margin:10px auto;
    text-align: center;
    max-width: 200px;
    transition: 0.3s;
}

button:hover {
    background-color: #002850;
    color:#54fbdc;
    box-shadow: 0px 0px 20px -17px;
}

button:active {
    transform: scale(0.95); 
}
